<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.j.stock" />	


	<!-- 启用spring mvc 注解 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <property name="supportedMediaTypes" value="text/plain;charset=UTF-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    
     
     <!-- HandlerMapping -->  
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>  
	   
	<!-- HandlerAdapter -->  
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	
	  <!-- token 生成验证拦截器 
    <mvc:interceptors>
        <bean class="com.j.stock.interceptor.TokenHandlerInterceptor"/>
        <bean class="com.j.stock.interceptor.TokenValidInterceptor"/>
    </mvc:interceptors>-->

	<mvc:interceptors >    
        <mvc:interceptor>    
            <mvc:mapping path="/user/*" />
            <bean class="com.j.stock.interceptor.SessionTimeoutInterceptor"></bean>    
        </mvc:interceptor>    
    </mvc:interceptors>
    
    <mvc:resources location="/assets/css/" mapping="/assets/css/**"/>
    <mvc:resources location="/assets/js/" mapping="/assets/js/**"/>
    <mvc:resources location="/assets/images/" mapping="/assets/images/**"/>

    <!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <!-- json转换器 -->
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>

    <!-- freemarker 视图解析器扩展功能 -->
    <bean id="blockDirective" class="cn.ijser.util.BlockDirective"/>
    <bean id="extendsDirective" class="cn.ijser.util.ExtendsDirective"/>
    <bean id="overrideDirective" class="cn.ijser.util.OverrideDirective"/>
    <bean id="superDirective" class="cn.ijser.util.SuperDirective"/>

    <!-- freemarker 视图解析器配置信息 -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">5</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="boolean_format">true,false</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
                <prop key="url_escaping_charset">=UTF-8</prop>
                <prop key="whitespace_stripping">true</prop>
                <prop key="tag_syntax">auto_detect</prop>
            </props>
        </property>
        <property name="freemarkerVariables">
            <map>
                <entry key="extends" value-ref="extendsDirective"></entry>
                <entry key="override" value-ref="overrideDirective"></entry>
                <entry key="block" value-ref="blockDirective"></entry>
                <entry key="super" value-ref="superDirective"></entry>
            </map>
        </property>
    </bean>

    <!-- freemarker 视图解析器配置 -->
    <bean id="viewResolver"
          class="com.j.stock.util.CustomFreeMarkerViewResolver">
        <property name="cache" value="true"/>
        <!--<property name="prefix" value="/" />-->
        <property name="suffix" value=".ftl"/>
        <property name="order" value="1"/>
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <property name="requestContextAttribute" value="request"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
        <!--
         * Set whether all request attributes should be added to the
         * model prior to merging with the template. Default is "false".
        -->
        <property name="exposeRequestAttributes" value="true"/>
        <property name="exposeSessionAttributes" value="true"/>
        <property name="allowSessionOverride" value="true"/>
    </bean>

    <!-- jsp 视图解析器配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <!--可为空,方便实现自已的依据扩展名来选择视图解释类的-->
        <property name="suffix" value=".jsp"/>
        <property name="order" value="2"/>
        <property name="contentType" value="text/html; charset=utf-8"/>
        <!-- 如果使用jstl的话，配置下面的属性 -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    </bean>
	

</beans>